@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  background-color: #f9f7fd !important;
  font-family: "Kumbh Sans", sans-serif;
}
