.mySwipper{
    /* border: 2px solid green !important; */
    padding: 10px 0px;
    width: 100% !important;
    height: auto !important;
    padding: 10px;
    /* box-shadow: 0px 0px 10px black; */
    /* filter: brightness(90%); */

}